<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>84975200927-oh5c8mfjhmtb1a3hr6b0u82n18fo2ot3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84975200927-oh5c8mfjhmtb1a3hr6b0u82n18fo2ot3</string>
	<key>API_KEY</key>
	<string>AIzaSyBqJwVGmGTkuoYswazJyfj3uronC5d3ZK4</string>
	<key>GCM_SENDER_ID</key>
	<string>84975200927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jazdzyk.Click-Right-Area</string>
	<key>PROJECT_ID</key>
	<string>click-right-area</string>
	<key>STORAGE_BUCKET</key>
	<string>click-right-area.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84975200927:ios:991f71d97bafca21</string>
	<key>DATABASE_URL</key>
	<string>https://click-right-area.firebaseio.com</string>
</dict>
</plist>